.container {
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      .back {
        width: 460px;
        height: 460px;
        display: flex;
        flex-direction: column;
        position: relative;
        img:nth-of-type(2) {
          position: absolute;
          z-index: 1;
          top: 45px;
        }
      }
    }
    .second {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;
      button {
        cursor: pointer;
        padding: 8px;
        background: rgba(123, 74, 226, 0.1);
        border-radius: 16px;
        width: 160px;
        height: 45px;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #7b4ae2;
        border: none;
      }
      button:hover {
        border: 1px solid rgba(123, 74, 226);
        background-color: transparent;
        transition: 1s;
      }
      h1 {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
      }
      .texts {
        h6 {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: rgba(255, 255, 255, 0.5);
          transform: rotate(-0.03deg);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .info {
      gap: 5px;
      width: 100%;
      height: 100%;
      .first {
        .back {
          width: 100%;
          img:nth-of-type(1) {
            width: 100%;
            height: auto;
            min-height: 250px;
            min-width: 250px;
          }
          img:nth-of-type(2) {
            width: 100%;
            height: auto;
            min-height: 200px;
            min-width: 200px;
          }
        }
      }
      .second {
        button {
          width: 130px;
          height: 45px;
          font-size: 16px;
        }
        h1 {
          font-size: 35px;
          line-height: 56px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .info {
      .first {
        .back {
          img:nth-of-type(1) {
            max-width: 262px;
            max-height: 262px;
          }
          img:nth-of-type(2) {
            max-width: 262px;
            max-height: 262px;
          }
        }
      }
    }
  }
}
