.container {
  width: 85%;
  margin: 0 auto;
  .projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
    button {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;
      color: #7b4ae2;
      background: rgba(123, 74, 226, 0.1);
      border-radius: 16px;
      width: 144px;
      height: 45px;
      border: none;
      padding: 15px;
      margin-top: 40px;
    }
    .tag {
      display: flex;
      justify-content: space-between;
      padding-bottom: 44px;
      h1 {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
      }
      .tab {
        display: flex;
        gap: 32px;
        .tab_btn {
          border: 1px solid rgba(123, 74, 226, 0.5);
          border-radius: 16px;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          width: 184px;
          height: 60px;
          display: flex;
          align-items: center;
          color: rgba(123, 74, 226, 0.5);
          cursor: pointer;
          img {
            width: 30px;
            height: 25px;
          }
        }
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid rgba(123, 74, 226, 0.5);
        border-radius: 16px;
        width: 360px;
        height: 460px;
        padding: 30px;
        h1 {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          display: flex;
          align-items: center;
          color: #ffffff;
          transform: rotate(-0.03deg);
        }
        p {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: rgba(255, 255, 255, 0.5);
          transform: rotate(-0.03deg);
        }
        .stack {
          display: flex;
          align-items: center;
          gap: 8px;
          button:nth-of-type(1) {
            background: rgba(123, 74, 226, 0.1);
            border-radius: 8px;
            width: 106px;
            height: 30px;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #7b4ae2;
            cursor: pointer;
          }
          button:nth-of-type(2) {
            background: rgba(123, 74, 226, 0.1);
            border-radius: 8px;
            width: 106px;
            height: 30px;
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #7b4ae2;
            cursor: pointer;
          }
        }
        img {
          border-radius: 8px;
          width: 300px;
          height: 200px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .projects {
      .tag {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .tab {
          gap: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .projects {
      .cards {
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .projects {
      .tag {
        h1 {
          font-size: 35px;
        }
        .tab {
          .tab_btn {
            font-size: 14px;
            line-height: 20px;
            width: 104px;
            height: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .projects {
      button {
        margin-top: 70px;
      }
    }
  }
}
